
<div class="container">
	<div class="row justify-content-md-center">
		<div class="col-10">
			<h1 class="text-center mt-5"> Modify </h1>
			<div class="d-flex justify-content-center">
				<br>
			</div> <br>
		</div>
    <br>

 <%= form_tag url_for(action: "create"), method: "post" do %>
      <%= label_tag 'Title' %>
      <%= text_field_tag 'title', @gossip.title %>

      <br /> <br />

      <%= label_tag 'Body' %>
      <%= text_area_tag 'content', @gossip.content %>

      <br /> <br />

      <%= submit_tag "Create Post" %>
    <% end %>