<h1>Gossip</h1>
<h2><%= link_to "#{@author.first_name}", author_of_gossip_path(@author.id) %></h2>
    
<h3><%= @gossip.title %></h3>
<p><%= @gossip.content %></p>
<p><%= @gossip.updated_at %></p>
<p><%=  %></p>
<p></p>
